style type="text/css"

*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    box-sizing: border-box;
}

#logo-nav-div{
    width: 100%;
    min-height: 50px;
    background-color: #f7f2ef;
    color: white;
    margin-bottom: 10px;
}

#logo-div{
    width: 50%;
    min-height: 40px;
    background-color: #f7f2ef;
    color: white;
    float: left;
    padding-left: 2%;
    line-height: 40px;
}

.logoImg {
   position: relative;
   top: 2px;
   right: 5px;
   
}

#nav-div{
    font-family: Arial;
    font-size: 20px;
    width: 50%;
    background-color: #d8041c;
}

.navButt {
    text-align: right;
    width: 50%;
    min-height: 50px;
    line-height: 50px;
    color: #5f392c;
    float: right;
    font-family: Arial;
    font-size: 30px;
    position: absolute;
    left: 640px;
    top: 60px;
}

.navButt a {
   color: #5f392c;
   text-decoration: none;
}

.navButt a:hover {
    color: orange;
    text-decoration: none;
    
 }

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
#headerbanner-div{
    width: 95%;
    min-height: 100px;
    background-color: #664537;
    color: white;
    text-align: center;
    line-height: 5px;
    margin-bottom: 10px;
}
#introtextarea-div{
    width: 100%;
    min-height: 80px;
    background-color: #bfa292;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
}

.description {
    font-family: arial;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

#main-div{
    width: 100%;
    min-height: 400px;
}

#sidebar-div {
    width: 20%;
    min-height: 400px;
    background: lightgray;
    float: left;
    line-height: 10px;
}

.contactUs {
    width: 20%;
    min-height: 400px;
    background: lightgray;
    float: left;
    line-height: 10px;
}

#main-div .box{
    width: 30%;
    min-height: 400px;
   
    float: left;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
}
#main-div .box:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
}

.box img {
    max-width: 250%;
    max-height: 100%;
}

#footer-div{
    width: 100%;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
}

#footer-div img {
    max-width: 100%;
    max-height: 100%;
    width: 15%;
    height: 15%;
    position: relative;
    right: 700px;
    top: 5px;
}

.info {
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 680px;
}

#wrapper-div{
    width: 80%;
    margin: auto;
}
