style type="text/css"

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}

#logo-nav-div{
    width: 50%;
    min-height: 50px;
    background-color: #f7f2ef;
    color: white;
    margin-bottom: 10px;
    padding-left: 6%;
}

#logo-div{
    min-height: 40px;
    background-color: #f7f2ef;
    color: white;
    float: left;
    line-height: 40px;
}

.logoImg {
   width: 90vh;
   position: relative;
}

#nav-div{
    font-family: Arial;
    font-size: 20px;
    width: 50%;
}

.navButt {
    text-align: center;
    width: 50%;
    min-height: 50px;
    line-height: 50px;
    color: #5f392c;
    font-family: 'Poppins';
    font-size: 25px;
    padding: 30px 13px 0 500px;
    position: absolute;
}

.navButt a {
    justify-content: center;
    color: #5f392c;
    padding: 7px 14px;
    text-decoration: none;
  }

.navButt a:hover {
    border-radius: 24px;
    color: orange;
    text-decoration: none;
    background: #5f392c;
    transition: 0.5s;
 }

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
#headerbanner-div{
    width: 95%;
    min-height: 100px;
    color: white;
    text-align: center;
    line-height: 5px;
    margin-bottom: 10px;
}

#headerbanner-div img {
    position: relative;
    left: 75px;
}

#introtextarea-div{
    position: relative;
    left: 75px;
    width: 100%;
    min-height: 80px;
    background-color: #bfa292;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
}

.description {
    font-family: arial;
    color: white;
    font-size: 20px;
    padding: 15px 10px 15px 10px;
}

body {
    background-color:#f7f2ef; ;
    font-family: 'Poppins';
}

.sidenav {
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: #5f392c;
    overflow-x: hidden;
    padding: 16px 0 0 16px;
    border-top-right-radius: 46px;
    border-bottom-right-radius: 46px;
}

.sidenav a {
    padding: 12px 8px 4px 22px;
    text-decoration: none;
    font-size: 25px;
    color: wheat;
    display: block;
}

.sidenav a:hover {
    color: orange;
    transform: translateX(20px);
    scale: (1.05);
    transition: .5s;
    font-weight: 600;
    font-size: 30px;
    border-radius: 24px;
}

:not(:hover){
    transition: .5s;
  }

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#main-div{
    width: 100%;
    min-height: 400px;
}

#main-div .box{
    width: 30%;
    min-height: 400px;
    float: left;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
}
#main-div .box:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
}

.box img {
    position: relative;
    left: 16px;
    padding: 0 0 0 0;
    width: 1176px;
    
}

#footer-div{
    width: 100%;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
}

#footer-div img {
    max-width: 100%;
    max-height: 100%;
    width: 15%;
    height: 15%;
    padding: 0 860px 0 0;
}

.info {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    padding: 0 760px 0 0;
}

#wrapper-div{
    width: 80%;
    margin: auto;
}
